<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styling.css">
    <title>Document</title>
</head>
<body>
    <h1 id="endcap-title">ALL 2D DISPLAYS</h1>
    <h3 id="section">Stock Clerk/GRS Section: 1-9</h3>
    <hr/>
    <div id="left">
        <h2 class="title">2:</h2>
    <ul>
        <li>Main: </li>
        <li>Tie in: </li>
        <li>Tie in:</li>
    </ul>
    <h2 class="title">5:</h2>
    <ul>
        <li>Main: </li>
        <li>Tie in: </li>
        <li>Tie in:</li>
    </ul>
    <h2 class="title">6:</h2>
    <ul>
        <li>Main: </li>
        <li>Tie in: </li>
        <li>Tie in:</li>
    </ul>
    <h2 class="title">9:</h2>
    <ul>
        <li>Main: </li>
        <li>Tie in: </li>
        <li>Tie in: </li>
    </ul>
    <h2 class="title">10:</h2>
    <ul>
        <li>Main: </li>
        <li>Tie in: </li>
        <li>Tie in: </li>
    </ul>
    <h2 class="title">13:</h2>
    <ul>
        <li>Main: </li>
        <li>Tie in: </li>
        <li>Tie in:</li>
    </ul>
    <h2 class="title">14:</h2>
    <ul>
        <li>Main: </li>
        <li>Tie in: </li>
        <li>Tie in:</li>
    </ul>
    </div>
    <div id="right">
        <h2 class="title">17:</h2>
    <ul>
        <li>Main: </li>
        <li>Tie in: </li>
        <li>Tie in:</li>
    </ul>
        <h2 class="title">18:</h2>
    <ul>
        <li>Main: </li>
        <li>Tie in: </li>
        <li>Tie in:</li>
    </ul>
    <h2 class="title">21:</h2>
    <ul>
        <li>Main: </li>
        <li>Tie in: </li>
        <li>Tie in:</li>
    </ul>
    <h2 class="title">22:</h2>
    <ul>
        <li>Main: </li>
        <li>Tie in: </li>
        <li>Tie in:</li>
    </ul>
    <h2 class="title">25:</h2>
    <ul>
        <li>Main: </li>
        <li>Tie in: </li>
        <li>Tie in:</li>
    </ul>
    <h2 class="title">26:</h2>
    <ul>
        <li>Main: </li>
        <li>Tie in: </li>
        <li>Tie in:</li>
    </ul>
    <h2 class="title">29:</h2>
    <ul>
        <li>Main: </li>
        <li>Tie in: </li>
        <li>Tie in:</li>
    </ul>
    </div>
    
</body>
</html>