<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styling.css">
    <title>Document</title>
</head>
<body>
    <h1 id="endcap-title">ALL ENDCAPS</h1>
    <h3 id="section">Stock Clerk/GRS Section: 7-9</h3>
    <hr/>
    <div id="left">
        <h2 class="title">24:</h2>
    <ul>
        <li>Main: </li>
        <li>Tie in: </li>
        <li>Tie in:</li>
    </ul>
    <h2 class="title">27:</h2>
    <ul>
        <li>Main: </li>
        <li>Tie in: </li>
        <li>Tie in:</li>
    </ul>
    <h2 class="title">28:</h2>
    <ul>
        <li>Main: </li>
        <li>Tie in: </li>
        <li>Tie in:</li>
    </ul>
    </div>
    <div id="right">
        <h2 class="title">31:</h2>
    <ul>
        <li>Main: </li>
        <li>Tie in: </li>
        <li>Tie in:</li>
    </ul>
        <h2 class="title">32:</h2>
    <ul>
        <li>Main: </li>
        <li>Tie in: </li>
        <li>Tie in:</li>
    </ul>
    <h2 class="title">33:</h2>
    <ul>
        <li>Main: </li>
        <li>Tie in: </li>
        <li>Tie in:</li>
    </ul>
    </div>
    
</body>
</html>