<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styling.css">
    <title>Document</title>
</head>
<body>
    <h1 id="endcap-title">ALL ENDCAPS</h1>
    <h3 id="section">Stock Clerk/GRS Section: 1-6</h3>
    <hr/>
    <div id="left">
        <h2 class="title">1:</h2>
    <ul>
        <li>Main: </li>
        <li>Tie in: </li>
        <li>Tie in:</li>
    </ul>
    <h2 class="title">3:</h2>
    <ul>
        <li>Main: </li>
        <li>Tie in: </li>
        <li>Tie in:</li>
    </ul>
    <h2 class="title">4:</h2>
    <ul>
        <li>Main: Florida Local Items</li>
        <li>Tie in: Florida Local Items</li>
        <li>Tie in: Florida Local Items</li>
    </ul>
    <h2 class="title">7:</h2>
    <ul>
        <li>Main: </li>
        <li>Tie in: </li>
        <li>Tie in: </li>
    </ul>
    <h2 class="title">8:</h2>
    <ul>
        <li>Main: </li>
        <li>Tie in: </li>
        <li>Tie in: </li>
    </ul>
    <h2 class="title">11:</h2>
    <ul>
        <li>Main: </li>
        <li>Tie in: </li>
        <li>Tie in:</li>
    </ul>
    </div>
    <div id="right">
        <h2 class="title">12:</h2>
    <ul>
        <li>Main:</li>
        <li>Tie in: </li>
        <li>Tie in:</li>
    </ul>
        <h2 class="title">15:</h2>
    <ul>
        <li>Main: </li>
        <li>Tie in: </li>
        <li>Tie in:</li>
    </ul>
    <h2 class="title">16:</h2>
    <ul>
        <li>Main: </li>
        <li>Tie in: </li>
        <li>Tie in:</li>
    </ul>
    <h2 class="title">19:</h2>
    <ul>
        <li>Main: </li>
        <li>Tie in: </li>
        <li>Tie in:</li>
    </ul>
    <h2 class="title">20:</h2>
    <ul>
        <li>Main: </li>
        <li>Tie in: </li>
        <li>Tie in:</li>
    </ul>
    <h2 class="title">23:</h2>
    <ul>
        <li>Main: Halloween Endcap</li>
        <li>Tie in: </li>
        <li>Tie in:</li>
    </ul>
    </div>
    
</body>
</html>