<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styling.css">
    <title>Document</title>
</head>
<body>
    <h1 id="endcap-title">ALL SALE ITEMS</h1>
    <h3 id="section">Stock Clerk/GRS Section: 7-9</h3>
    <hr/>
    <div id="left">
        <h2 class="title"><u>Aisle 7</u></h2>
    <ul>
        
        
        





<li class='product-item'>
   <span class='product-name'>Greenies Dental Treats</span>
   <span class='secondary-info'><b>ALSO ON:</b> A72D-1</span>
</li>

<li class='product-item'>
   <span class='product-name'>Delectables Lickable Treat for Cats</span>
   <span class='secondary-info'><b>ALSO ON:</b> A72D-1</span>
</li>

<li class='product-item'>
   <span class='product-name'>Newman's Own Dog Biscuits</span>
   <span class='secondary-info'><b>ALSO ON:</b> A72D-1</span>
</li>
    </ul>
    <h2 class="title"><u>Aisle 9</u></h2>
    <ul>
        
        
        






<li class='product-item'>
   <span class='product-name'>Emerald Nuts</span>
   <span class='secondary-info'><b>ALSO ON:</b> A6FE</span>
</li>

<li class='product-item'>
   <span class='product-name'>Chex Mix Snack</span>
   
</li>

<li class='product-item'>
   <span class='product-name'>Frito Lay Canisters</span>
   
</li>

<li class='product-item'>
   <span class='product-name'>Orville Redenbacher's Gourmet Popcorn</span>
   <span class='secondary-info'><b>ALSO ON:</b> A5FE</span>
</li>

<li class='product-item'>
   <span class='product-name'>H.K. Anderson Filled Pretzel Nuggets</span>
   
</li>

<li class='product-item'>
   <span class='product-name'>Pop Secret Microwave Popcorn Family Size</span>
   
</li>
    </ul>
    </div>
    <div id="right">
        
        <h2 class="title"><u>Aisle 8</u></h2>
        <ul>
            
            
            






<li class='product-item'>
   <span class='product-name'>12-Pack 7UP Products</span>
   <span class='secondary-info'><b>ALSO ON:</b> A6BE</span>
</li>

<li class='product-item'>
   <span class='product-name'>Lacroix Sparkling Water</span>
   <span class='secondary-info'><b>ALSO ON:</b> A7BE</span>
</li>

<li class='product-item'>
   <span class='product-name'>12-Pack Coca-Cola Products</span>
   <span class='secondary-info'><b>ALSO ON:</b> A5BE</span>
</li>

<li class='product-item'>
   <span class='product-name'>Zephyrhills Natural Spring Water</span>
   <span class='secondary-info'><b>ALSO ON:</b> A9BE</span>
</li>

<li class='product-item'>
   <span class='product-name'>6-Pack Pepsi Products</span>
   <span class='secondary-info'><b>ALSO ON:</b> A3BE</span>
</li>

<li class='product-item'>
   <span class='product-name'>6-Pack 7UP Products</span>
   <span class='secondary-info'><b>ALSO ON:</b> A4BE</span>
</li>

<li class='product-item'>
   <span class='product-name'>Arizona Tea</span>
   <span class='secondary-info'><b>ALSO ON:</b> A7BE</span>
</li>

<li class='product-item'>
   <span class='product-name'>Jarritos Soda</span>
   <span class='secondary-info'><b>ALSO ON:</b> A3BE</span>
</li>

<li class='product-item'>
   <span class='product-name'>Bai Antioxidant Beverage</span>
   <span class='secondary-info'><b>ALSO ON:</b> A4BE</span>
</li>

<li class='product-item'>
   <span class='product-name'>Bubly Burst</span>
   
</li>

<li class='product-item'>
   <span class='product-name'>Coca-Cola Products</span>
   <span class='secondary-info'><b>ALSO ON:</b> A5FE</span>
</li>

<li class='product-item'>
   <span class='product-name'>Dasani</span>
   
</li>

<li class='product-item'>
   <span class='product-name'>Evian Natural Spring Water</span>
   <span class='secondary-info'><b>ALSO ON:</b> A9BE</span>
</li>

<li class='product-item'>
   <span class='product-name'>4-Pack Fever-Tree Products</span>
   
</li>

<li class='product-item'>
   <span class='product-name'>Pepsi Products</span>
   <span class='secondary-info'><b>ALSO ON:</b> A6FE</span>
</li>

<li class='product-item'>
   <span class='product-name'>Red Bull Energy Drink</span>
   
</li>
        </ul>
    </div>
</body>
<footer>
    <nav class="next">
        <a href="{{ url_for('sales_list_3') }}">NEXT</a>

    </nav>
</footer>
</html>